html {
  box-sizing: border-box;
}
/* *, *:before, *:after {
  box-sizing: inherit;
} */
body {
  display: flexbox;
  background-image: 
    url(img/blackandwhitezombiebus.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: grey;
}
h1 {
  text-align: center;
}

.lightbox {
width: 100%;
height: 2.5rem;
text-align: center;
background-color: lightgray;
margin-top: 2.5%;
margin-bottom: 2.5%;
}

.headline {
  margin: 0px;
  padding-top: 1%;
}

.startbtn {
  display: flex;
  height: 2rem;
  color: red;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 33%;
  border-radius: 3px;
}