html {
  box-sizing: border-box;
}

.score{
  line-height: 2.4rem;
  font-size: 30px;
  word-spacing: 3%;

}

.question{
  margin-top: 5%;
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  color: #c62828;
  background-color: #424242;
  border: 5px dotted #FDD835;
  border-radius: 5px;
  padding: 2%;
}
.answerbtn {
  display: flex;
  width: 20%;
  height: 3rem;
  color:#FDD835;
  background-color: #c62828;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border: 5px solid #424242;
  border-radius: 10px;
} 
.answerbtn:hover, .answerbtn:active{
  background-color: #FDD835;
  color: #ff1744;
  border: 3px solid #FDD835;
} 